.block_input, .descriptions_list {
  margin: 2% 2% 2% 2%;
}
#result_list{
  margin: 5% 5% 5% 5%;
}
.block_button{
  text-align:center;
  margin: 20px 0px 20px 0px;
}
.block_image_description{
	text-align:center;
}
#block_how_to{
	text-align:center;
	margin-right: 1%;
    margin-left: 1%;
}
